<html xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        body { color: #666; }
        a { text-decoration: none; color: #666; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body lang="EN-US">

<div>
    <div>
        <table border="1" cellspacing="0" cellpadding="6" width="100%" bordercolor="#0696D7">
            <tbody>
            <tr>
                <td style="background: #f5f5f5; line-height: 1.285714;">
                    <div>
                        <table border="0" cellpadding="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="34%"><img src="http://static-dc.autodesk.net/etc/designs/v201412151200/autodesk/adsk-design/images/autodesk_header_logo_140x23.png" alt="Autodesk Logo" /></td>
                                <td width="33%"></td>
                                <td width="33%" nowrap="">
                                    <div>
                                        <p align="right" style="text-align: right">
                                            <b><span style="font-size: 10.0pt;line-height: 115%;color: black;">Autodesk Developer Network</span></b>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;">
                    <div>
                        <h4>Autodesk Forge Viewer Extraction failed</h4>
                        <div style="font-size: 10.0pt;">
                            <p> System failure,</p>
                            <p>
                                Bubbles for Project <%= ID %> could not be extracted
                                <a href="http://extract.autodesk.io/explore/<%= ID %>">Checkout here</a>
                            </p>
                        </div>
                </td>
            </tr>
            <tr>
                <td style="background-color: #f6f5f2; border-top: 1px solid #fff; padding: 26px 0 16px 32px;">
                    <div style="font-size: 8pt;">
                        CONFIDENTIALITY NOTICE<br />
                        This email transmission is intended only for the use of the individual or entity named above and may
                        contain information that is confidential, privileged and exempt from disclosure under applicable law.
                        If you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution
                        or use of any of the information contained in this transmission is strictly PROHIBITED. If you have
                        received this transmission in error, please immediately notify us by reply e-mail, and destroy the
                        original transmission and its attachments without reading or saving in any manner. Thank you.
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border-top: 1px solid #e3e2df; background-color: #edede9; padding: 12px 0 24px 32px;">
                    <div style="text-align: center; font-size: 8pt;">
                        <a href="http://www.autodesk.com/privacy">Privacy/Cookies (Updated)</a> |
                        <a href="http://www.autodesk.com/company/legal-notices-trademarks">Legal Notices &amp; Trademarks</a> |
                        <a href="http://www.autodesk.com/reportpiracy">Report Noncompliance</a> |
                        <a href="http://www.autodesk.com/sitemap">Site map</a> |
                        &copy; 2015 Autodesk Inc. All rights reserved
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>