/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
  url("../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("/fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("/fonts/Regular/OpenSans-Regular.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
  url("../fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("/fonts/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("/fonts/Italic/OpenSans-Italic.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
  url("../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), 
  url("../fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), 
  url("../fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
  url("../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), 
  url("../fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), 
  url("../fonts/Bold/OpenSans-Bold.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* END Bold */

